gunicorn
annotated-types
anyio
attrs
beautifulsoup4
black
blinker
Brotli
browsermob-proxy
certifi
cffi
chardet
charset-normalizer
chromedriver-autoinstaller
click
cloudscraper
colorama
comtypes
cramjam
cryptography
CTkMessagebox
customtkinter
darkdetect
deep-translator
distro
Faker
Flask
googletrans
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
itsdangerous
Jinja2
jiter
kaitaistruct
lz4
markdown-it-py
MarkupSafe
mdurl
mypy_extensions
numpy
openai
opencv-python
outcome
packaging
pathspec
pillow
platformdirs
psutil
pyasn1
pycparser
pycryptodome
pydantic
pydantic_core
pydivert
pyfiglet
Pygments
pyOpenSSL
pyparsing
PySocks
pysrt
pystyle
pytesseract
python-dotenv
python-snappy
pytz
pywifi
requests
requests-toolbelt
rfc3986
rich
selenium
selenium-wire
setuptools
six
sniffio
sortedcontainers
soupsieve
spark-parser
tabulate
tqdm
trio
trio-websocket
ttkbootstrap
typing-inspection
typing_extensions
tzdata
uncompyle6
urllib3
webdriver-manager
websocket-client
Werkzeug
wsproto
xdis
zstandard
